.signUpPage {
  padding: 40px 0 0 0;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  hr {
    margin: 10px 0 8px 0;
    height: 1px;
    background: #e8e8e8;
  }
}
.checkbox {
  margin: 0 0 10px 0;
}
