.label {
  position: relative;
  width: 100%;
  align-items: flex-start;
  column-gap: 10px;
  user-select: none;
}
.input {
  position: absolute;
  top: 5px;
  left: 0;
}
.span {
  padding: 0 0 0 23px;
  display: block;
  color: #595959;
  font-family: Roboto;
  font-size: 14px;
}
