.item {
  padding: 15px 20px;
  width: 940px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.body {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
